In [1]:
import mysql.connector as sql

def writing(first_name, student_number):
    cnx = sql.connect(host='52.50.23.197',
                  port='3306',
                  user='student',
                  password='student',
                  database='wonderful_learners')
    cursor = cnx.cursor()

    query = 'INSERT INTO learners (first_name, student_number) VALUES ("' + first_name + '", "' + str(student_number) + '");'
    print(query)
    cursor.execute(query)

    cnx.commit()
    cnx.close()


first_name = "Victor"
student_number = "2021324"
writing(first_name,student_number)

INSERT INTO learners (first_name, student_number) VALUES ("Victor", "2021324");