In [7]:
# Exercises from https://pynative.com/python-if-else-and-for-loop-exercise-with-solutions/

# Exercise 1: Print First 10 natural numbers using while loop
num = 1
while num <= 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

In [13]:
# Exercise 2: Print the following pattern
    
str_num = ""
for i in range(1, 6):
    str_num = f'{str_num} {i}'
    print(str_num)

 1
 1 2
 1 2 3
 1 2 3 4
 1 2 3 4 5

In [19]:
# Exercise 3: Calculate the sum of all numbers from 1 to a given number

num = int(input("Enter number "))
total = sum([i for i in range(1, num + 1)])
print(f'Sum is: {total}')

Enter number 10
Sum is: 55

In [29]:
# Exercise 4: Write a program to print multiplication table of a given number

valid_number = False

while valid_number is False:
    num = int(input("Enter number "))
    if num < 0 or num > 10:
        print('number can\'t be < 0 nor > 10')
    else:
        valid_number = True  
        
stop_num = num * 11         

for i in range(num, stop_num, num):
    print(i)

Enter number 2
2
4
6
8
10
12
14
16
18
20

In [7]:
# Exercise 5: Display numbers from a list using loop

numbers = [12, 75, 150, 180, 145, 525, 50]

i = 0

while numbers[i] <= 500:     
    if numbers[i] % 5 == 0 and numbers[i] <= 150:
        print(numbers[i])  
    i += 1

75
150
145

In [14]:
# Exercise 6: Count the total number of digits in a number
num = str(75869)
i = 0
count = 0

while i < len(num):
    # print(num[i])
    i += 1
    
print(i)   

# solution

num = 75869
count = 0
while num != 0:
    # floor division
    # to reduce the last digit from number
    num = num // 10

    # increment counter by 1
    count = count + 1
print("Total digits are:", count)

5
Total digits are: 5

In [28]:
# Exercise 7: Print the following pattern

for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [30]:
# Exercise 8: Print list in reverse order using a loop
list1 = [10,20,30,40,50]
for i in reversed(list1):
    print(i)

50
40
30
20
10

In [31]:
#Exercise 9: Display numbers from -10 to -1 using for loop

for i in range(-10, 0, 1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [33]:
# Exercise 10: Use else block to display a message “Done” after successful execution of for loop

for i in range(5):
    print(i)
else:
    print('Done!')

0
1
2
3
4
Done!

In [38]:
#Exercise 11: Write a program to display all prime numbers within a range

start = 25
end = 50

for i in range(25, 51, 1):
    is_prime = True
    
    for j in range(1, 51):        
        if i % j == 0 and j != 1 and j != i:
            is_prime = False
            break
            
    if is_prime:
        print(i)

29
31
37
41
43
47

In [49]:
# Exercise 12: Display Fibonacci series up to 10 terms

a, b = 0, 1
for i in range(10):
    print(a, end=' ')
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

In [57]:
# Exercise 13: Find the factorial of a given number

factorial = 1
for i in range(1,6):
    factorial = factorial * i
else:
    print(factorial)
    
# using recursion    
    
def get_factorial(n):
    if n == 0:
        return 1
    else:
        return n * get_factorial(n - 1)
        
print(get_factorial(5))

120
120

In [74]:
# Exercise 14: Reverse a given integer number

given = 76542
expected = [i for i in reversed(str(given))]
print(''.join(expected))

24567

In [83]:
# Exercise 15: Use a loop to display elements from a given list present at odd index positions

my_list = [10,20,30,40,50,60,70,80,90,100]

# for i in range(1, len(my_list), 2):
for i in my_list[1::2]:
    print(i, end=' ')

20 40 60 80 100

In [89]:
# Exercise 16: Calculate the cube of all numbers from 1 to a given number
input_number = 6
for i in range(1, input_number + 1):
    cube = i**3
    print(f'Current Number is {i} and the cube is {cube}')

Current Number is 1 and the cube is 1
Current Number is 2 and the cube is 8
Current Number is 3 and the cube is 27
Current Number is 4 and the cube is 64
Current Number is 5 and the cube is 125
Current Number is 6 and the cube is 216

In [91]:
# Exercise 17: Find the sum of the series upto n terms

total = 0
for i in range(1,6):
    num = ['2' for j in range(i)]
    print(num)

['2']
['2', '2']
['2', '2', '2']
['2', '2', '2', '2']
['2', '2', '2', '2', '2']